.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 1rem;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    color: black;
    margin-bottom: 2rem;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.fruit-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: auto;
}

.fruit-holder img {
    size-adjust: 100%;
    box-shadow: 1px solid black;
}

.fruit-name {
    width: 100%;
    padding: 10px;
    background: #a8a8a8;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }


 