.gameboard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
}

@media (max-width: 500px) {
    .gameboard {
        margin: 0;
        gap: 0;
    }
}